<h1>{{title}}</h1>

<h3>Welcome to ASL Tutor! Where you can practice your American Sign Language!</h3>

<div id="container">
  <div id="button_container">
    <button (click)="toggleCamera()" type="button">ASL to Text</button>
  </div>
  <div id="camera" *ngIf="visible">
    <app-camera (pictureTaken)="handleImage($event)"></app-camera>
    <div #box class="snapshot" *ngIf="webcamImage">
      <!-- <img [src]="webcamImage.imageAsDataUrl" /> -->
      <!-- Insert Image Cropper -->
      <div class="cropper-wrapper">
        <image-cropper
        [imageURL]="webcamImage.imageAsDataUrl"
        format="jpeg"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (cropperReady)="cropperReady()"
        (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </div>
      <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'" />
      <button (click)="uploadImage()" type="button">Submit</button>
      <p id="result" *ngIf="letter">{{letter}}</p>
    </div>
  </div>
</div>